In [1]:
%pip install pandas
%pip install numpy

Collecting pandas
  Downloading pandas-2.2.2-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.1.1-cp312-cp312-win_amd64.whl.metadata (59 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dit\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\dit\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
    --------------------------------------- 0.3/11.5 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.5 MB 2.1 MB/s eta 0:00:06
   -- ------------------------------------- 0.8/11.5 MB 1.4 MB/s eta 0:00:08
   --- ------------------------------------ 1.0/11.5 MB 1.3 MB/s eta 0:00:09
   ---- ----------------------------------- 1.3/11.5 MB 1.2 MB/s eta 0:00:09
   ----- ---------------------------------- 1.6/11.5 MB 1.2 MB/s eta 0:00:09
   ------ --------------------------------- 1.8/11.5 MB 1.2 MB/s eta 0:00:08
   ------- -------------------------------- 2.1/11.5 MB 1.2 MB/s eta 0:00:08
   -------- ------------------------------- 2.4/11.5 MB 1.2 MB/s eta 0:00:08
   --------- ------------------------------ 2.6/11.5 MB 1.2 MB/s eta 0:00:08
   ---------- ----------------------------- 2.9/11.5 MB 1.3 MB/s eta 0:00:07
   ---------- ----------------------------- 3.1/11.5 MB 1.3 MB/s eta 0:00:07
   ----------- ---------------------------- 3.4/11.5 MB 1.3 MB/s eta 0:00:07
   ------------- -------------------------- 3.9/11.5 MB 1.3 MB/s eta 0:00:06
   -------------- ------------------------- 4.2/11.5 MB 1.3 MB/s eta 0:00:06
   --------------- ------------------------ 4.5/11.5 MB 1.3 MB/s eta 0:00:06
   ----------------- ---------------------- 5.0/11.5 MB 1.4 MB/s eta 0:00:05
   ------------------ --------------------- 5.2/11.5 MB 1.4 MB/s eta 0:00:05
   -------------------- ------------------- 5.8/11.5 MB 1.4 MB/s eta 0:00:05
   -------------------- ------------------- 6.0/11.5 MB 1.4 MB/s eta 0:00:04
   --------------------- ------------------ 6.3/11.5 MB 1.4 MB/s eta 0:00:04
   ---------------------- ----------------- 6.6/11.5 MB 1.4 MB/s eta 0:00:04
   ----------------------- ---------------- 6.8/11.5 MB 1.4 MB/s eta 0:00:04
   ------------------------- -------------- 7.3/11.5 MB 1.4 MB/s eta 0:00:03
   -------------------------- ------------- 7.6/11.5 MB 1.4 MB/s eta 0:00:03
   --------------------------- ------------ 7.9/11.5 MB 1.5 MB/s eta 0:00:03
   ----------------------------- ---------- 8.4/11.5 MB 1.5 MB/s eta 0:00:03
   ------------------------------ --------- 8.7/11.5 MB 1.5 MB/s eta 0:00:02
   ------------------------------- -------- 9.2/11.5 MB 1.5 MB/s eta 0:00:02
   -------------------------------- ------- 9.4/11.5 MB 1.5 MB/s eta 0:00:02
   ---------------------------------- ----- 10.0/11.5 MB 1.5 MB/s eta 0:00:02
   ----------------------------------- ---- 10.2/11.5 MB 1.5 MB/s eta 0:00:01
   ------------------------------------ --- 10.5/11.5 MB 1.5 MB/s eta 0:00:01
   -------------------------------------- - 11.0/11.5 MB 1.5 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 1.5 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 1.5 MB/s eta 0:00:00
Downloading numpy-2.1.1-cp312-cp312-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
    --------------------------------------- 0.3/12.6 MB ? eta -:--:--
   - -------------------------------------- 0.5/12.6 MB 1.7 MB/s eta 0:00:08
   -- ------------------------------------- 0.8/12.6 MB 1.7 MB/s eta 0:00:08
   ---- ----------------------------------- 1.3/12.6 MB 1.6 MB/s eta 0:00:07
   ----- ---------------------------------- 1.6/12.6 MB 1.7 MB/s eta 0:00:07
   ----- ---------------------------------- 1.8/12.6 MB 1.7 MB/s eta 0:00:07
   ------ --------------------------------- 2.1/12.6 MB 1.6 MB/s eta 0:00:07
   ------- -------------------------------- 2.4/12.6 MB 1.4 MB/s eta 0:00:08
   ------- -------------------------------- 2.4/12.6 MB 1.4 MB/s eta 0:00:08
   -------- ------------------------------- 2.6/12.6 MB 1.2 MB/s eta 0:00:09
   -------- ------------------------------- 2.6/12.6 MB 1.2 MB/s eta 0:00:09
   -------- ------------------------------- 2.6/12.6 MB 1.2 MB/s eta 0:00:09
   --------- ------------------------------ 2.9/12.6 MB 1.0 MB/s eta 0:00:10
   --------- ------------------------------ 2.9/12.6 MB 1.0 MB/s eta 0:00:10
   --------- ------------------------------ 2.9/12.6 MB 1.0 MB/s eta 0:00:10
   --------- ------------------------------ 2.9/12.6 MB 1.0 MB/s eta 0:00:10
   ---------- ----------------------------- 3.1/12.6 MB 870.4 kB/s eta 0:00:11
   ---------- ----------------------------- 3.1/12.6 MB 870.4 kB/s eta 0:00:11
   ---------- ----------------------------- 3.1/12.6 MB 870.4 kB/s eta 0:00:11
   ---------- ----------------------------- 3.4/12.6 MB 795.8 kB/s eta 0:00:12
   ---------- ----------------------------- 3.4/12.6 MB 795.8 kB/s eta 0:00:12
   ----------- ---------------------------- 3.7/12.6 MB 770.7 kB/s eta 0:00:12
   ----------- ---------------------------- 3.7/12.6 MB 770.7 kB/s eta 0:00:12
   ------------ --------------------------- 3.9/12.6 MB 762.5 kB/s eta 0:00:12
   ------------ --------------------------- 3.9/12.6 MB 762.5 kB/s eta 0:00:12
   ------------- -------------------------- 4.2/12.6 MB 757.9 kB/s eta 0:00:12
   -------------- ------------------------- 4.5/12.6 MB 762.6 kB/s eta 0:00:11
   --------------- ------------------------ 4.7/12.6 MB 768.8 kB/s eta 0:00:11
   --------------- ------------------------ 4.7/12.6 MB 768.8 kB/s eta 0:00:11
   --------------- ------------------------ 5.0/12.6 MB 776.3 kB/s eta 0:00:10
   ---------------- ----------------------- 5.2/12.6 MB 789.0 kB/s eta 0:00:10
   ----------------- ---------------------- 5.5/12.6 MB 798.9 kB/s eta 0:00:09
   ------------------ --------------------- 5.8/12.6 MB 809.9 kB/s eta 0:00:09
   ------------------- -------------------- 6.0/12.6 MB 822.0 kB/s eta 0:00:08
   -------------------- ------------------- 6.3/12.6 MB 833.4 kB/s eta 0:00:08
   -------------------- ------------------- 6.6/12.6 MB 845.9 kB/s eta 0:00:08
   --------------------- ------------------ 6.8/12.6 MB 857.7 kB/s eta 0:00:07
   ---------------------- ----------------- 7.1/12.6 MB 868.9 kB/s eta 0:00:07
   ----------------------- ---------------- 7.3/12.6 MB 881.3 kB/s eta 0:00:06
   ------------------------ --------------- 7.6/12.6 MB 894.8 kB/s eta 0:00:06
   ------------------------- -------------- 8.1/12.6 MB 920.1 kB/s eta 0:00:05
   -------------------------- ------------- 8.4/12.6 MB 932.0 kB/s eta 0:00:05
   --------------------------- ------------ 8.7/12.6 MB 945.2 kB/s eta 0:00:05
   ---------------------------- ----------- 8.9/12.6 MB 956.2 kB/s eta 0:00:04
   ------------------------------ --------- 9.4/12.6 MB 981.9 kB/s eta 0:00:04
   ------------------------------ --------- 9.7/12.6 MB 993.4 kB/s eta 0:00:03
   -------------------------------- ------- 10.2/12.6 MB 1.0 MB/s eta 0:00:03
   --------------------------------- ------ 10.5/12.6 MB 1.0 MB/s eta 0:00:03
   ---------------------------------- ----- 10.7/12.6 MB 1.0 MB/s eta 0:00:02
   ----------------------------------- ---- 11.0/12.6 MB 1.0 MB/s eta 0:00:02
   ----------------------------------- ---- 11.3/12.6 MB 1.0 MB/s eta 0:00:02
   ------------------------------------- -- 11.8/12.6 MB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 12.1/12.6 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  12.3/12.6 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 1.1 MB/s eta 0:00:00
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.1.1 pandas-2.2.2 pytz-2024.2 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.

  WARNING: The scripts f2py.exe and numpy-config.exe are installed in 'c:\Users\dit\AppData\Local\Programs\Python\Python312\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

Requirement already satisfied: numpy in c:\users\dit\appdata\local\programs\python\python312\lib\site-packages (2.1.1)
Note: you may need to restart the kernel to use updated packages.

In [11]:
import numpy as np
import pandas as pd

In [12]:
s = pd.Series ([1, 3, 5, np.nan, 6, 9])

In [13]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    9.0
dtype: float64

In [15]:
dates= pd.date_range("2013-01-01", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [26]:
df = pd.DataFrame(np.random.randn (6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.603744  0.361301 -0.915274 -0.458407
2013-01-02 -0.592167  0.523079  2.057677 -0.830832
2013-01-03  1.548245  0.205499 -0.880229 -0.316001
2013-01-04 -0.590586  0.114728  0.211443 -1.059525
2013-01-05 -0.101681 -0.329552  0.243635 -0.099915
2013-01-06 -0.543650 -0.393625  1.271829 -1.056865

In [42]:
df = pd.DataFrame(np.random.randn (6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -1.616177  1.130402 -1.902371 -0.853090
2013-01-02 -1.674014  0.913678  0.287839  0.401093
2013-01-03  0.062348  1.077333  0.484805 -1.766945
2013-01-04 -0.950319 -1.881390  0.271041 -1.186033
2013-01-05  0.209210 -0.485701 -0.217883 -0.822942
2013-01-06 -0.722540  0.284470 -1.065357 -1.755751

In [29]:
df2 = pd.DataFrame(
    {
         "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
             }
)
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [31]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [34]:
df.head()
df.tail()

          A         B         C         D
1  0.594381 -1.694274 -0.774390 -0.989852
2 -0.628392  0.488256  0.504002 -1.489599
3 -0.458046  1.213582  2.607014 -0.116470
4  0.104094  2.134988  0.156138 -0.458989
5  0.419401 -0.932691  0.646239 -0.590773

In [35]:
df.head(3)

          A         B         C         D
0 -1.154432  1.029992  0.868569 -0.515312
1  0.594381 -1.694274 -0.774390 -0.989852
2 -0.628392  0.488256  0.504002 -1.489599

In [36]:
df.tail(2)

          A         B         C         D
4  0.104094  2.134988  0.156138 -0.458989
5  0.419401 -0.932691  0.646239 -0.590773

In [43]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [44]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.781915  0.173132 -0.356987 -0.997278
std    0.802350  1.178972  0.941083  0.801239
min   -1.674014 -1.881390 -1.902371 -1.766945
25%   -1.449712 -0.293158 -0.853488 -1.613321
50%   -0.836430  0.599074  0.026579 -1.019561
75%   -0.133874  1.036419  0.283640 -0.830479
max    0.209210  1.130402  0.484805  0.401093

In [45]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -1.616177   -1.674014    0.062348   -0.950319    0.209210   -0.722540
B    1.130402    0.913678    1.077333   -1.881390   -0.485701    0.284470
C   -1.902371    0.287839    0.484805    0.271041   -0.217883   -1.065357
D   -0.853090    0.401093   -1.766945   -1.186033   -0.822942   -1.755751

In [46]:
df[0:3]

                   A         B         C         D
2013-01-01 -1.616177  1.130402 -1.902371 -0.853090
2013-01-02 -1.674014  0.913678  0.287839  0.401093
2013-01-03  0.062348  1.077333  0.484805 -1.766945

In [47]:
df.mean()

A   -0.781915
B    0.173132
C   -0.356987
D   -0.997278
dtype: float64

In [48]:
df.median()

A   -0.836430
B    0.599074
C    0.026579
D   -1.019561
dtype: float64

In [49]:
df.mode()

          A         B         C         D
0 -1.674014 -1.881390 -1.902371 -1.766945
1 -1.616177 -0.485701 -1.065357 -1.755751
2 -0.950319  0.284470 -0.217883 -1.186033
3 -0.722540  0.913678  0.271041 -0.853090
4  0.062348  1.077333  0.287839 -0.822942
5  0.209210  1.130402  0.484805  0.401093